.page {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  color: var(--color-font-grey);
  padding: 40px 96px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 720px) {
    padding: 40px 20px;
  }

  @media (max-width: 576px) {
    padding: 0;
  }
}
